<div class="card" *ngIf="currentWeather">
    <h3 class="card-header">{{ currentWeather.cityName}} </h3>
    <div class="card-block">
      <img height="50" width="50" alt="Weather API Day Thunderstorm with light rain" [src]="getImageWeather(currentWeather.weather.icon)"  />
      <h4 class="card-title" myHighlight>{{currentWeather.temp}} °C</h4>
      <p class="card-text">{{currentWeather.weather.description | myElipsis: 3}}</p>
      <p>{{currentWeather.date}}</p>
      <a href="#" class="btn btn-primary">Go</a>
    </div>
  </div>